<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Listner">

<listeners >
	<listener class-name ="ListenerInterfacesDemo.ListenerInterfaces" />
</listeners>
 
 
  <test thread-count="5" name="Test">
    <classes>
			<class name="TestCasesForListener.BrowserLunch"/>
			<class name="TestCasesForListener.CalculatorTestCases"/>
    </classes>
  </test> <!-- Test -->


</suite> <!-- Listner -->
